<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapaDatos.ConfigCapaDatos" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapaDatos.ConfigCapaDatos" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CapaDatos.ConfigCapaDatos>
            <setting name="ConexionActual" serializeAs="String">
                <value>ConexionLocalBD</value>
            </setting>
        </CapaDatos.ConfigCapaDatos>
    </userSettings>
    <applicationSettings>
        <CapaDatos.ConfigCapaDatos>
            <setting name="ConexionBD" serializeAs="String">
                <value>Data Source=172;Initial Catalog=Mistico;User ID=sa;Password=*</value>
            </setting>
            <setting name="ConexionLocalBD" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Mistico;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
        </CapaDatos.ConfigCapaDatos>
    </applicationSettings>
</configuration>